.kpi-user-list-table th {
    text-align: center;
    color: white !important;
    background-color: #d54832;
}

.overClass {
    overflow-y: auto;
    height: 54%;
}

z
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.overFlowNavKpi {
    overflow-y: auto;
    height: 565px;
}

.accordion li {
    font-size: small;
}

.form-check-input:checked, .form-check-input[type=checkbox]:indeterminate {
    background-color: #e14b4b;
    border-color: #e14b4b;
    box-shadow: 0 2px 4px 0 rgb(105 108 255 / 40%);
}
/*Custom Menu Anwar*/
.container {
    border-radius: 3px;
    padding: 5px;
    width: 60%;
    margin: 0 auto;
}

h2 {
    font-weight: normal;
    font-size: 25px;
}

    h2:hover {
        cursor: pointer;
    }

.modal-dialog-centered {
    min-height: calc(100% - 22.5rem);
}

.modal-header {
    /*display: -webkit-box;
    display: -ms-flexbox;*/
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    /*align-items: flex-start;*/
    -webkit-box-pack: justify;
    /*-ms-flex-pack: justify;*/
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #98a2af !important;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #ed974e !important;
    border-color: #ed974e !important;
    transform: translateY(-1px);
}
/*#DataTables_Table_0_paginate a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}*/

#DataTables_Table_0_paginate .current {
    color: white !important;
    background: #a92828 !important;
}

.table td {
    color: #333333 !important;
}

.custom-loader {
    text-align: center;
    top: 40%;
    left: 44%;
    position: fixed;
    z-index: 99999999;
    box-shadow: 2px 2px 17px #e14b4b;
    border-radius: 20px;
    background: white;
    width: 10%;
    padding: 10px;
}

.loader-bg-blur {
    height: 100%;
    z-index: 9999999;
    position: fixed;
    background: #c3d3ce6b;
    width: 100%;
}

.hidden {
    display: none !important;
}

.iconClassExcel {
    margin-left: 8px;
    background: #933737;
}

.iconClassPdf {
    background: #933737;
}

.iconClassExcel:hover {
    background: #a54141;
}

.iconClassPdf:hover {
    background: #a54141;
}

.tablepopup th {
    background-color: #a92828;
    color: white !important;
    text-align: center;
}

.tablepopup td {
    text-align: center;
}

.tablepopup {
    width: 100%;
}

.modal-xl {
    max-width: 1400px !important;
}

.btn-primary {
    color: #fff;
    background-color: #a62b2b;
    border-color: #a62b2b;
}

    .btn-primary:hover {
        color: #ffffff;
        background-color: #76dd4b !important;
        border-color: #7bdd59 !important;
        transform: translateY(-1px) !important;
    }

    .btn-check:focus + .btn-primary, .btn-primary:focus {
        color: #ffffff;
        background-color: #76dd4b;
        border-color: #7bdd59;
        transform: translateY(-1px);
    }

.label-custom {
    color: #d4432c !important;
    font-weight: 500 !important;
    text-transform: capitalize;
    /*padding-top: 3px;*/
}
/*.tab-content
        {
            background: #d7d6d6 !important;
        }*/
hr {
    margin: 1rem 0;
    color: #565656;
    background-color: currentColor;
    border: 0;
    opacity: 1;
}

.Survey-list-table th {
    text-align: center;
    color: white !important;
    background-color: #d54832;
}

.Survey-list-table td {
    border-bottom: 1px solid #96a2ab45 !important;
}

.Question-list-table th {
    text-align: center;
    color: white !important;
    background-color: #d54832;
}

.Question-list-table td {
    border-bottom: 1px solid #96a2ab45 !important;
}

.question-master-list-table th {
    /*text-align: center;*/
    color: white !important;
    background-color: #d54832;
}

.SO-Entered-details .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.SO-Entered-details th {
    text-align: center;
    color: white !important;
    border: none;
}

.SO-Entered-details td {
    border-bottom: 1px solid #96a2ab45 !important;
}


.SO-Invoice-details .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.SO-Invoice-details th {
    text-align: center;
    color: white !important;
    border: none;
}

.SO-Invoice-details td {
    border-bottom: 1px solid #96a2ab45 !important;
}

.SO-Collection-details .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.SO-Collection-details th {
    text-align: center;
    color: white !important;
    border: none;
}

.SO-Collection-details td {
    border-bottom: 1px solid #96a2ab45 !important;
}

.SO-MainCollection-details .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.SO-MainCollection-details th {
    text-align: center;
    color: white !important;
    border: none;
}

.SO-MainCollection-details td {
    border-bottom: 1px solid #96a2ab45 !important;
}

.SalesOrd-Details-table .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.SalesOrd-Details-table th {
    text-align: center;
    color: white !important;
    border: none;
}

.SalesOrd-Details-table td {
    border-bottom: 1px solid #96a2ab45 !important;
}

.CancelledSalesOrd-Details-table .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.CancelledSalesOrd-Details-table th {
    text-align: center;
    color: white !important;
    border: none;
}

.CancelledSalesOrd-Details-table td {
    border-bottom: 1px solid #96a2ab45 !important;
}

.ClosedSalesOrd-Details-table .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.ClosedSalesOrd-Details-table th {
    text-align: center;
    color: white !important;
    border: none;
}

.ClosedSalesOrd-Details-table td {
    border-bottom: 1px solid #96a2ab45 !important;
}

.BookedSalesOrd-Details-table .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.BookedSalesOrd-Details-table th {
    text-align: center;
    color: white !important;
    border: none;
}

.BookedSalesOrd-Details-table td {
    border-bottom: 1px solid #96a2ab45 !important;
}


.EnteredSalesOrd-Details-table .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.EnteredSalesOrd-Details-table th {
    text-align: center;
    color: white !important;
    border: none;
}

.EnteredSalesOrd-Details-table td {
    border-bottom: 1px solid #96a2ab45 !important;
}


.SO-Booked-table .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.SO-Booked-table th {
    text-align: center;
    color: white !important;
    border: none;
}

.SO-Booked-table td {
    border-bottom: 1px solid #96a2ab45 !important;
}


.SO-Closed-table .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.SO-Closed-table th {
    text-align: center;
    color: white !important;
    border: none;
}

.SO-Closed-table td {
    border-bottom: 1px solid #96a2ab45 !important;
}

.AwaitingShSalesOrd-Details-table .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.AwaitingShSalesOrd-Details-table th {
    text-align: center;
    color: white !important;
    border: none;
}

.AwaitingShSalesOrd-Details-table td {
    border-bottom: 1px solid #96a2ab45 !important;
}



.OthersSalesOrd-Details-table .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.OthersSalesOrd-Details-table th {
    text-align: center;
    color: white !important;
    border: none;
}

.OthersSalesOrd-Details-table td {
    border-bottom: 1px solid #96a2ab45 !important;
}


.AwaitingReturnSalesOrd-Details-table .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.AwaitingReturnSalesOrd-Details-table th {
    text-align: center;
    color: white !important;
    border: none;
}

.AwaitingReturnSalesOrd-Details-table td {
    border-bottom: 1px solid #96a2ab45 !important;
}


.SO-Cancelled-table .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.SO-Cancelled-table th {
    text-align: center;
    color: white !important;
    border: none;
}

.SO-Cancelled-table td {
    border-bottom: 1px solid #96a2ab45 !important;
}


table.dataTable.no-footer {
    border-bottom: 1px solid #aeddff73 !important;
}





.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #ffffff;
    background-color: #a92828;
    border-color: #fff;
}

.nav-tabs .nav-item .nav-link.active {
    color: #ffffff;
    background-color: #a92828;
    border-color: #fff;
}

.nav-tabs .nav-item .nav-link:hover {
    color: #ffffff;
    background-color: #a92828;
    border-color: #fff;
}

/*.nav-tabs .nav-item .nav-link:not(.active) {
            color: black;
            background-color: #b4b9bf;
        }*/
.nav-tabs .nav-item .nav-link:not(.active) {
    color: #a92828;
    background-color: #e5bbbb;
}

/* table.dataTable tbody tr:hover {
            background-color: #ff6f591a !important;
            border-right: 5px solid #db7e2f !important;
        }*/

.Survey-status-Draft {
    background-color: #fff2d6 !important;
    color: #ffab00 !important;
    letter-spacing: 1px;
    box-shadow: 0px 0px 3px 0px #ffab00;
}

.Survey-status-completed {
    /*background-color: #e8fadf !important;
    color: #48a516 !important;
    letter-spacing: 0.5px;
    box-shadow: 0px 0px 3px 0px #48a516;
    min-width: 52%;
    text-align: center;*/
    background-color: #d7f5fc !important;
    color: #03c3ec !important;
    letter-spacing: 1px;
    box-shadow: 0px 0px 3px 0px #03c3ec;
}

.Survey-status-NotActive {
    background-color: #ffe0db !important;
    color: #ff3e1d !important;
    letter-spacing: 0.5px;
    box-shadow: 0px 0px 3px 0px #ff3e1d;
    min-width: 52%;
    text-align: center;
}



.form-control:focus, .form-select:focus {
    border-color: #ff9869 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 12px !important;
    padding-right: 5px;
    color: #e02d0a;
}



.select2-results__options li strong {
    color: rgb(242 71 71);
}

.LM-list-table th {
    text-align: center;
    color: white !important;
    background-color: #d54832;
}

/*  table tbody tr:hover {
            background-color: #ff6f591a !important;
            border-right: 5px solid #db7e2f !important;
        }*/

.badge {
    text-transform: uppercase;
    line-height: 0.75;
}

.taDiv:focus {
    outline: none;
}

.modal-xxl {
    max-width: 1854px !important;
}

::-webkit-scrollbar {
    height: 8px; /* height of horizontal scrollbar ← You're missing this */
    width: 4px; /* width of vertical scrollbar */
    border: 1px solid #d5d5d5;
}

.active-ass {
    background-color: #e6eeff !important;
    background-color: #ffede6 !important;
}

.tbody-quesopt-list tr:hover {
    cursor: pointer;
}

#lblEmpName, #lblDesignation, #lblDepart, #lblLeaveReqFileName:focus {
    outline: none;
}



.proj-det-drillup, .proj-det-drilldown:hover {
    background-color: #c52a11;
}

.textbox-border-color {
    border-bottom: 4px solid #fc71224a;
}

#proj-details-rectangle-div {
    padding: 17px;
    background: #e8b79c3b;
    border-radius: 12px;
    border: 4px solid #f9bfa86b;
    box-shadow: 0px 0px 13px -7px #d84d1a;
}

.tbody-Event .ibtn-Request-Details:hover {
    content: url("Images/gif-eye.gif");
}


/* .active-tr {
            border-left: 7px solid #db7e2f !important;
        }
*/

.animated-button1:hover {
    color: ghostwhite !important;
    background: repeating-linear-gradient(45deg, #4a6a15, #4f8539 100px);
}

.animated-button4:hover {
    color: ghostwhite !important;
    background: repeating-linear-gradient(45deg, #4a6a15, #4f8539 100px);
}

.submit-req {
    background: linear-gradient(40deg, #855b5b, #e70000 100px) !important;
}

.animated-button2:hover {
    color: ghostwhite !important;
    background: repeating-linear-gradient(45deg, #4a6a15, #4f8539 100px);
}

.submit-req:hover {
    color: ghostwhite !important;
    background: repeating-linear-gradient(45deg, #4a6a15, #4f8539 100px) !important;
}

.accordion,
.sub-accordion {
    margin: 0;
    padding: 0;
    list-style: none;
}

.accordion__item {
    background: rgb(117 75 51 / 9%);
    border-radius: 20px;
    margin-bottom: 5px;
    /*padding: 17px;*/
    /* border-radius: 12px;*/
    border: 1px solid rgb(0 0 0 / 17%);
    box-shadow: rgb(117 75 51 / 9%)
}
/* 
*	Стили для заголовка меню 
*/

.navigation {
    font-weight: 300;
    font-size: 0.9375rem;
    max-width: 460px;
    min-width: 216px;
    margin: 0 auto;
    color: #696666;
}

.accordion__item:nth-child(odd) > :first-child:not(.accordion__link_active) {
    color: #ffffff;
    background: #696666;
}

.accordion__link {
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    color: #696666;
    text-decoration: none;
    border-radius: 20px;
    display: block;
    padding: 12px 50px 12px 20px;
}

    .accordion__link:not(.accordion__link_active):after {
        position: absolute;
        content: "";
        border-top: 12px #ff8663 solid;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        right: 22px;
        top: 50%;
        transform: translatey(-6px);
    }

    .accordion__link:not(.accordion__link_active):hover {
        opacity: .8;
        color: #fff;
        background: #B8B8B8;
    }

        .accordion__link:not(.accordion__link_active):hover:after {
            border-top: 12px #ffffff solid;
        }
/* 
*	Стили для подменю 
*/
.sub-accordion {
    padding: 5px 20px;
    display: none;
    height: 0;
    overflow: hidden;
}

.sub-accordion__item {
    padding: 5px 0;
}
/* 
*	Стили для октивного подменю 
*/
.accordion__link_active {
    color: #ffffff;
    /*background-color: #914040e0;   */
    background: repeating-linear-gradient(180deg, #5a3b3bf2, #e5a4a4e0 100px);
}

    .accordion__link_active:after {
        position: absolute;
        content: "";
        border-bottom: 12px #fff solid;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        right: 22px;
        top: 50%;
        transform: translatey(-6px);
    }

    .accordion__link_active + ul {
        display: block;
        height: 100%;
    }

a:not([href]) {
    text-decoration: none;
    color: white;
}

    a:not([href]):hover {
        color: #c1bcbc;
        text-decoration: none;
    }

.header-Bg-Active {
    /* background-color: #8d0000f2;*/
    border-radius: 20px;
    position: relative;
    background: repeating-linear-gradient(182deg, #e97878e3, #a31700b5 100px);
}

.header-Bg-NotActive {
    background-color: #696666;
    border-radius: 20px;
    position: relative;
}

.flatpickr-calendar {
    zoom: 85%;
}

.Submit-AllDet:hover {
    content: url("Images/gif-Submit.gif");
}

.fa-icon-hover:hover {
    transform: scale(1.1) !important;
}

.bg-primary {
    background-color: #fff2d6 !important;
    color: #ff0000b0 !important;
    letter-spacing: 1px;
    box-shadow: 0px 0px 3px 0px #ffab00;
}

.bg-Approve {
    background-color: #c9f9cf !important;
    color: #02e128 !important;
    letter-spacing: 1px;
    box-shadow: 0px 0px 3px 0px #03d91d;
}

.bg-success {
    background-color: #d7f5fc !important;
    color: #03c3ec !important;
    letter-spacing: 1px;
    box-shadow: 0px 0px 3px 0px #03c3ec;
}

.add-new-icon:hover {
    content: url("Images/gif-AddNew.gif")
}

.flatpickr-input .active {
    top: 212.746px !important;
    left: auto !important;
    right: 193.8714px !important;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ff8318;
    border-radius: 50%;
    margin-right: 10px;
    background-color: transparent;
    position: relative;
    top: 6px;
}

    input[type="radio"]:checked::before {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background-color: #ca8489;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: appear 0.8s;
    }

.attendees-table th {
    text-align: center;
    color: white !important;
    background-color: #af1a1a;
    vertical-align: middle;
}

.attendees-table td {
    border-bottom: 1px solid #96a2ab45 !important;
    font-size: 16px !important;
    background-color: white !important;
}

.tbody-Template .Save-Request-Details:hover {
    content: url("Images/Save-gif.gif")
}


.proj-det-drilldown {
    font-weight: 800;
    color: #ffffff;
    border: 1px solid #b8adad;
    width: 3%;
    cursor: pointer;
    margin-top: 6px;
    position: inherit;
    background: #d54832e8;
    border-radius: 13px;
    text-align: center;
}

.proj-InvoiceDet-drilldown {
    font-weight: 800;
    color: #ffffff;
    border: 1px solid #b8adad;
    width: 3%;
    cursor: pointer;
    margin-top: 6px;
    position: inherit;
    background: #d54832e8;
    border-radius: 13px;
    text-align: center;
}

.proj-Collection-drilldown {
    font-weight: 800;
    color: #ffffff;
    border: 1px solid #b8adad;
    width: 3%;
    cursor: pointer;
    margin-top: 6px;
    position: inherit;
    background: #d54832e8;
    border-radius: 13px;
    text-align: center;
}

.proj-MainCollection-drilldown {
    font-weight: 800;
    color: #ffffff;
    border: 1px solid #b8adad;
    width: 3%;
    cursor: pointer;
    margin-top: 6px;
    position: inherit;
    background: #d54832e8;
    border-radius: 13px;
    text-align: center;
}

/*:root {
   
}*/


.highlitRow {
    background-color: #ff0000bf !important;
}

.nav-pills .nav-link:not(.active, .disabled) {
    color: #b23e3e !important;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus {
    background-color: #a92828 !important;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(105, 108, 255, 0.4);
}



%shared {
    box-shadow: 2px 2px 10px 5px #b8b8b8;
    border-radius: 10px;
}

* {
    transition: all 0.5s ease;
}

#thumbnails {
    
    text-align: center;
    display: flex;
    overflow: auto;
}  

#thumbnails > img{
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}
    


/*{
    transform: rotateZ('angle')
}*/




#main {
    /*width: 100%;
    height: 400px;*/
    /*object-fit: cover;*/
    display: block;
    margin: 20px auto;
    @extend %shared;

   
}

.hidden {
    opacity: 0;
}






.slider-navigation {
    background: aquamarine;
    padding: 30px 15px;
    text-align: center;
}

#slider-thumbs {
    margin-top: -100px;
}

    #slider-thumbs .list-inline li {
        width: 25%;
        padding: 0px;
        margin-right: -4px;
        cursor: pointer;
    }

        #slider-thumbs .list-inline li:first-child {
            padding-left: 5px;
        }

.slider-nav-arrow {
    text-align: center;
    margin-bottom: 0px;
    visibility: hidden;
}

.selected .slider-nav-arrow {
    visibility: visible;
}

.selected .slider-navigation {
    opacity: 0.5;
}


.itemgridList {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 3%;
}

.txtquty {
    /*height: 24px;*/
    font-size: 16px;
    font-weight: 600;
   
    color: rgb(224, 0, 0);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 160px;
    margin-bottom: 0px;
    padding-left: 10px;
    /*text-align:center;*/
}


.txtitmcode {
    font-size: 14px;
    font-weight: 600;
    
    color: rgb(43, 45, 46);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 216px;
  
    margin-bottom: 0px;
    padding:10px;
    /*text-align:center;*/

}

.itmavl{
    text-align:center;
    color:red;
}

.btn-approved {
    color: #fff;
    background-color: #03bb0a;
    border-color: #03bb0a;
}

    .btn-approved:hover {
        color: #fff;
        background-color: #03bb0a;
        border-color: #03bb0a;
    }


.btn-rejected {
    color: #fff;
    background-color: #c82e2e;
    border-color: #c82e2e;
}

    .btn-rejected:hover {
        color: #fff;
        background-color: #c82e2e;
        border-color: #c82e2e;
    }



.ag-format-container {
    width: 1142px;
    margin: 0 auto;
}


.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
}

.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
}

.ag-courses-item_link {
    display: block;
    padding: 0px 20px;
    background-color: #a5a5a5;
    overflow: hidden;
    position: relative;
}

    .ag-courses-item_link:hover,
    .ag-courses-item_link:hover .ag-courses-item_date {
        text-decoration: none;
        color: #FFF;
    }

        .ag-courses-item_link:hover .ag-courses-item_bg {
            -webkit-transform: scale(10);
            -ms-transform: scale(10);
            transform: scale(10);
        }

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: bold;
    font-size: 26px;
    color: #FFF;
    z-index: 2;
    position: relative;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
    z-index: 2;
    position: relative;
    padding-bottom: 3%
}

.ag-courses-item_date {
    font-weight: bold;
    color: #43ff5c;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }
}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;
        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}