.scheduler_green_event_inner  
{
	margin-right: 1px;
	font-size: 12px;
	color: #ffffff;
	padding: 4px;
	
	color: #ffffff;
	background: #a2c200;
	background: -moz-linear-gradient(
		top,
		#a2c200 0%,
		#8aaa00);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#a2c200),
		to(#8aaa00));  
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#a2c200", endColorStr="#8aaa00");
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #7cb316;
	-moz-box-shadow:
		0px 2px 3px rgba(000,000,000,0.3),
		inset 0px 0px 2px rgba(255,255,255,0.8);
	-webkit-box-shadow:
		0px 2px 3px rgba(000,000,000,0.3),
		inset 0px 0px 2px rgba(255,255,255,0.8);
	box-shadow:
		0px 2px 3px rgba(000,000,000,0.3),
		inset 0px 0px 2px rgba(255,255,255,0.8);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}

.scheduler_green_event_bar
{
	top: 3px;
	left: 4px;
	right: 4px;
	height: 2px;
	/*
	background-color: #8aaa00;
	background-color: #657A0B;
*/
	background-color: #C0D46A;
	background-color: #C7D48D;
}

.scheduler_green_event_bar_inner  
{
	position: absolute;
	height: 2px;
	/*
	background-color: #5F7500;
	background-color: #C4F100;
	background-color: #C3D963;
*/
	background-color: #6E8700;
}

.scheduler_green_event_hover .scheduler_green_event_inner 
{
	background: #a8dc18;
	background: -moz-linear-gradient(
		top,
		#a8dc18 0%,
		#8fc300);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#a8dc18),
		to(#8fc300));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#a8dc18", endColorStr="#8fc300");
}

.scheduler_green_red .scheduler_green_event_inner 
{
	border: 1px solid #c00004;
	background: #ab0000;
	background: -moz-linear-gradient(
		top,
		#ff2819 0%,
		#ab0000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff2819),
		to(#ab0000));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ff2819", endColorStr="#ab0000");
}
.scheduler_green_blue .scheduler_green_event_inner 
{
	border: 1px solid #4B6C9E;
	background: #4B6C9E;
	background: -moz-linear-gradient(
		top,
		#4B6C9E 0%,
		#4B6C9E);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#4B6C9E),
		to(#4B6C9E));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ff2819", endColorStr="#ab0000");
}
.scheduler_green_color2 .scheduler_green_event_inner 
{
	border: 1px solid #CCFFCC;
	background: #99FF00;
	background: -moz-linear-gradient(
		top,
		#CCFFCC 0%,
		#CCFFCC);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#CCFFCC),
		to(#CCFFCC));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ff2819", endColorStr="#ab0000");
}
.scheduler_green_color3 .scheduler_green_event_inner 
{
	border: 1px solid #006666;
	background: #006666;
	background: -moz-linear-gradient(
		top,
		#006666 0%,
		#006666);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#006666),
		to(#006666));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ff2819", endColorStr="#ab0000");
}
.scheduler_green_color4 .scheduler_green_event_inner 
{
	border: 1px solid #99FF00;
	background: #99FF00;
	background: -moz-linear-gradient(
		top,
		#99FF00 0%,
		#99FF00);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#99FF00),
		to(#99FF00));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ff2819", endColorStr="#ab0000");
}
.scheduler_green_Yellow .scheduler_green_event_inner 
{
    color:Black !important;
	border: 1px solid #FFFF00;
	background: #4B6C9E;
	background: -moz-linear-gradient(
		top,
		#FFFF00 0%,
		#FFFF00);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#FFFF00),
		to(#FFFF00));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ff2819", endColorStr="#ab0000");
}

.scheduler_green_Move .scheduler_green_event_inner 
{
	border: 1px solid #CC33CC;
	background: #CC33CC;
	background: -moz-linear-gradient(
		top,
		#CC33CC 0%,
		#CC33CC);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#CC33CC),
		to(#CC33CC));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ff2819", endColorStr="#ab0000");
}
.scheduler_green_Brown .scheduler_green_event_inner 
{
	border: 1px solid #842323;
	background: #842323;
	background: -moz-linear-gradient(
		top,
		#842323 0%,
		#842323);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#842323),
		to(#842323));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ff2819", endColorStr="#ab0000");
}
.scheduler_green_Orange .scheduler_green_event_inner 
{
	border: 1px solid #D26D01;
	background: #D26D01;
	background: -moz-linear-gradient(
		top,
		#D26D01 0%,
		#D26D01);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#D26D01),
		to(#D26D01));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ff2819", endColorStr="#ab0000");
}
.scheduler_green_grey .scheduler_green_event_inner 
{
	border: 1px solid grey;
	background: grey;
	background: -moz-linear-gradient(
		top,
		grey 0%,
		grey);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(grey),
		to(grey));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ff2819", endColorStr="#ab0000");
}
.scheduler_green_violet .scheduler_green_event_inner 
{
	border: 1px solid Violet;
	background: grey;
	background: -moz-linear-gradient(
		top,
		Violet 0%,
		Violet);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(Violet),
		to(grey));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ff2819", endColorStr="#ab0000");
}
.scheduler_green_SeaGreen .scheduler_green_event_inner 
{
	border: 1px solid SeaGreen;
	background: SeaGreen;
	background: -moz-linear-gradient(
		top,
		SeaGreen 0%,
		SeaGreen);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(SeaGreen),
		to(SeaGreen));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ff2819", endColorStr="#ab0000");
}
.scheduler_green_CadetBlue .scheduler_green_event_inner 
{
	border: 1px solid #99ccff;
	background: CadetBlue;
	background: -moz-linear-gradient(
		top,
		#99ccff 0%,
		#99ccff);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#99ccff),
		to(#99ccff));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ff2819", endColorStr="#ab0000");
}
.scheduler_green_color1 .scheduler_green_event_inner 
{
	border: 1px solid CadetBlue;
	background: #99ffcc;
	background: -moz-linear-gradient(
		top,
		#99ffcc 0%,
		#99ffcc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#99ffcc),
		to(#99ffcc));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ff2819", endColorStr="#ab0000");
}
.scheduler_green_main 
{
	border: 1px solid #999;
	float:left;
	width:98% !important;
	margin-left:10px;
}
.scheduler_green_main table
{
	width:0px !important;
}
.scheduler_green_timeheader 
{
	cursor: default;
	color: #666;
}

.scheduler_green_message 
{
	padding: 10px;
	opacity: 0.9;
	filter: alpha(opacity=90);
	
	color: #ffffff;
	background: #000;
	background: -moz-linear-gradient(
		top,
		#999 0%,
		#666);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#999),
		to(#666));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#999999", endColorStr="#666666");
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

.scheduler_green_timeheadergroup_inner
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	text-align: center;
	font-size:12px;
	border-right: 1px solid #999;

	color: #ffffff;
	background: #666;
	background: -moz-linear-gradient(
		top,
		#777 0%,
		#666);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#777),
		to(#666));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#777777", endColorStr="#666666");
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

.scheduler_green_timeheadercol_inner
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	text-align: center;
	border-right: 1px solid #999;
	border-top: 1px solid #999;

	color: #ffffff;
	background: #666;
	background: -moz-linear-gradient(
		top,
		#777 0%,
		#666);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#777),
		to(#666));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#777777", endColorStr="#666666");
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
		font-size:10px;
}

.scheduler_green_rowheader 
{
	color: #ffffff;
	background: #666;
	background: -moz-linear-gradient(
		left,
		#777 0%,
		#666);
	background: -webkit-gradient(
		linear, left top, right top, 
		from(#777),
		to(#666));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#777777", endColorStr="#666666",GradientType=1);
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
		font-size:10px;
}
.scheduler_green_rowheaderResc 
{
	color: #ffffff;
	background: #666;
	background: -moz-linear-gradient(
		left,
		#FF3300 0%,
		#FF3300);
	background: -webkit-gradient(
		linear, left top, right top, 
		from(#777),
		to(#666));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#FF3300", endColorStr="#FF3300",GradientType=1);
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
		font-size:10px;
}
.scheduler_green_corner
{
	color: #ffffff;
	background: #666;
	background: -moz-linear-gradient(
		left,
		#777 0%,
		#666);
	background: -webkit-gradient(
		linear, left top, right top, 
		from(#777),
		to(#666));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#777777", endColorStr="#666666",GradientType=1);
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
		

}

.scheduler_green_resourceheader td
{
	border-bottom: 1px solid black;
	padding: 0px;
}

.scheduler_green_tree_image_no_children {
	background-image: url('scheduler_green/tree_nochildren.png');
	display:none;
}
.scheduler_green_tree_image_expand {
	background-image: url('scheduler_green/tree_expand.png');
}
.scheduler_green_tree_image_collapse {
	background-image: url('scheduler_green/tree_collapse.png');
}

.scheduler_green_divider 
{
	background-color: #ccc;
}

.scheduler_green_divider_horizontal
{
	background-color: #ccc;
}

.scheduler_green_matrix_vertical_line 
{
	background-color: #eee;
}

.scheduler_green_matrix_vertical_break 
{
	background-color: #000;
}
.scheduler_green_matrix_horizontal_line 
{
	background-color: #eee;
}

.scheduler_green_resourcedivider 
{
	background-color: #ccc;
}

.scheduler_green_shadow_inner 
{
	background-color: #666666;
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.scheduler_green_cellweekend 
{
	background-color: #eeeeee;
	
	background: -moz-linear-gradient(
		top,
		#f8f8f8 0%,
		#f0f0f0);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f8f8f8),
		to(#f0f0f0));
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#f8f8f8", endColorStr="#f0f0f0");
}