
.GridHeader-blue > th {
    padding-left: 5px;
    text-align: center;
}

.panel-margin {
    margin-bottom: 0px;
}

.fa2 {
    font-size: x-large;
}

.WaterMarkedTextBox {
    border-right: #ccccff thin solid;
    border-top: #ccccff thin solid;
    border-left: #ccccff thin solid;
    border-bottom: #ccccff thin solid;
    color: gray;
    display: inline;
    background: AliceBlue;
    visibility: visible;
}

.NormalTextBox {
    border-right: #ccccff thin solid;
    border-top: #ccccff thin solid;
    border-left: #ccccff thin solid;
    border-bottom: #ccccff thin solid;
    color: black;
    display: inline;
    background: #ffffff;
    visibility: visible;
}

.popupHeader {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: #bc3c3c;
}

.hdigfnt {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: #bc3c3c;
    text-decoration: underline;
}

.Panelheader {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: bold;
    color: #bc3c3c;
}

.crdblk {
    margin-top: -24px;
}

.search {
    background: url(find.png) no-repeat;
    padding-left: 18px;
    border: 1px solid #ccc;
}

.srcqtn {
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding-left: 24px;
}

.pnl14cnt {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 11px;
    background-color: steelblue;
}

.panl14 {
    border-color: Silver;
    border-width: 1px;
    border-style: Solid;
    background-color: #364150;
    /*margin-bottom: 22px;*/
    height: 60px;
}

.headerdiv {
    border-color: #818181;
    border-width: 1px;
    border-style: Solid;
    padding-bottom: 40px;
    padding-top: 5px;
    padding-left: 10px;
}


.btnaddqtn {
    border-radius: 18px !important;
    background-color: #4790cf !important;
    font-size: 13px !important;
    padding: 6px 15px !important;
    outline: none !important;
    border: none !important;
    color: #fff;
}

.breadcrumb-top {
    margin-top: 0px !important;
}

.breadcrumb-customnew {
    text-align: center;
    font-family: 'Merriweather Sans', arial, verdana;
    display: inline-block;
    box-shadow: 0 0 15px 1px rgb(0 0 0 / 35%);
    border-radius: 5px;
}

.breadcrumb-custom a.active, .breadcrumb-custom a:hover {
    background: #333;
    background: linear-gradient(#333, #c03434);
}


.breadcrumb-custom a.active, .breadcrumb-custom a:hover {
    background: #333;
    background: linear-gradient(#b92323, #b92323);
}

.breadcrumb-customnew a {
    /* text-decoration: none; */
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    height: 36px;
    padding: 3px 10px 0 30px;
    /* background: #666; */
    background: linear-gradient(#b92323, #b92323);
    color: white;
}

.flatnew {
    border-radius: 0 !important;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 9px;
    margin-bottom: 10px;
}

th {
    text-align: center;
    background-color: #009688 !important;
    /* color: white; */
    border-bottom: 1px #9f9f9f solid !important;
    /* font-family: Calibri; */
    height: 54px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #009688;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #b30000;
    }

.btn-Search {
    border-radius: 18px !important;
    background-color: #b92323 !important;
    font-size: 13px !important;
    padding: 6px 15px !important;
    outline: none !important;
    border: none !important;
    color: #fff;
    margin-right: 16px;
}