
.btn-default {
    text-transform: capitalize !important;
    background-image: -webkit-linear-gradient(bottom,#e4e8ea 50%,#f1f3f3 100%) !important;
    text-shadow: none !important;
    font-size: 12px !important;
    font-weight: bold !important;
    border: 1px solid #c4ced7 !important;
    border-radius: 3px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-weight: bold !important;
}

.multiselect-selected-text {
    color: #000;
}

.dropdown-toggle::after {
    color: #000;
}

.dropdown-menu {
    background-color: #e4e8ea !important;
    min-width: 14rem !important;
    /*opacity: 0.8;*/
}

.checkbox {
    padding-left: 2px !important;
    color: #000 !important;
    font-weight: bold !important;
}
.multiselect-container > li > a > label {
    color:#000 !important;
}
.multiselect-container > li > a {
    padding-left:6px;
}
.dt-buttons {
    margin-left: 16.5%;
    margin-top: -24px !important;
    font-size: 14px !important;
    font-weight: bold !important;
   }


.multiselect-container {
    overflow: auto !important;
    height: 255px !important;
}
/*.show > .dropdown-menu {
    overflow: hidden;
    overflow-y: scroll;
    height: 420px;
}*/
