<?xml version="1.0"?>
<!--For more information on how to configure your ASP.NET application, please visit
http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Update this value to set the max length -->
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="AuthenticationWebserviceUrl" value="https://cbsa.fa.em2.oraclecloud.com/"/>
    <add key="ClientSettingsProvider.ServiceUri" value="https://cbsa.fa.em2.oraclecloud.com/"/>
    <add key="com.naffco.crmss.eConnectService" value="https://crmss.naffco.com/CRMSS/Services/eConnectService.asmx"/>
  </appSettings>
  <connectionStrings>
    <add name="CRMEBSDATACon" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=CRMEBSDATA;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="BrandingCon" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=branding;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="ERM_DataCon" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=ERM_Data;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="SurveyCon" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=Survey;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="FRDCon" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=FRD;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="SuggestionCon" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=Suggestion;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="RMACon" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=RMA;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="PASSIVEFIRECon" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=PASSIVEFIRE;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="SecurityDBCon" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=SecurityDB;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="FM_DataCon" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=FM_Data;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="SecurityCon" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=SecurityDb;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="CRMEConnectDataCon" connectionString="Data Source=ECONNECT-VM\ECONNECT;Initial Catalog=DB_KPINaffco;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="DBKPINewChanges" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=DB_KPINaffco;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="SSHR_CONNECTION" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=SSHR_Data;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="Safety_DataCon" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=Safety_Data;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="TODOV2" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=TODO_V2;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="KamiraCon" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=DB_Kamira;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="SCAPCon" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=SCRAP_System;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="SiteSurvey_DataCon" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=db_SiteSurvey;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <!--<add name="SSHR_CONNECTION" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=SSHR_Data;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>-->
    <add name="Purchase" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=Purchase;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="DBAudit" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=DB_Audit;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="DBRecruitment" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=Db_Recruitment;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Csv 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
	<add name="HSECon" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=DB_HSE;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>
	<add name="PrjAnalysis" connectionString="Data Source=CRMSS\CRMSS;Initial Catalog=DB_PRJAnalysis;user id=sa;password=Naffco@123;Connect Timeout=120" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <sessionState timeout="1440"/>
    <globalization uiCulture="en" culture="en-US"/>
    <pages>
      <controls>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="DayPilot" namespace="DayPilot.Web.Ui" assembly="DayPilot"/>
        <add tagPrefix="Excel" namespace="KrishLabs.Web.Controls" assembly="ExportToExcel"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="aspGrid" namespace="DSOGridView"/>
      </controls>
    </pages>
    <httpRuntime executionTimeout="600" maxRequestLength="1048576" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Device, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
    </compilation>
    <authentication mode="Windows">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <!--<authentication mode="Windows" />
    <authorization>
      <allow users="*" />
    </authorization>-->
    <!--<identity impersonate="true"/>-->
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <identity impersonate="false"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <add value="crmss/security/Login.aspx"/>
        <add value="security/login.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
        <add value="NaffcoCareers.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
</configuration>