body {
}
.width-13 {
    width: 13.75%;
}
.width-14 {
    width: 14.2%;
}
.width-18 {
    width: 18.75%
}
.width-20 {
    width: 20%;
}
.width-23 {
    width: 23.5%;
}

.forcard {
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    padding: 8px 8px;
    margin-bottom: 5px;
}

.forcard-body {
    font-size: smaller;
    width: 90%;
}

.forcard-head {
    font-size: small;
    color: #005dae;
    text-transform: capitalize;
}

.forcard-label {
    color: #930000a6;
    background: #ff00003d;
    padding: 2px 10px;
    font-size: small;
    border-radius: 6px;
    float: right;
}

.nav .nav-link:hover, .nav .nav-link:focus {
    color: #9d0000a3 !important;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus {
    background-color: #ffdddd54 !important;
    color: #000000 !important;
    box-shadow: none !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000 !important;
    background-color: #ededed !important;
}

.nav-pills .nav-link {
    font-size: 12px;
}

.tab-content {
    padding: 10px 0px !important;
}

.table.project-table thead th {
    vertical-align: bottom;
    border: none !important;
    font-size: 12px;
    /* text-align: center; */
    text-transform: capitalize;
    padding: 10px !important;
}

.table.project-table tbody td {
    padding: 8px !important;
    vertical-align: middle;
    overflow-wrap: anywhere;
}

.project-table tbody, .project-table td, .project-table tfoot {
    font-size: 10px !important;
    background-color: white;
}

    .project-table tbody tr {
        border-bottom: 1px solid #e4e4e4;
    }

.table.project-table .project-detail td {
    font-size: 14px !important;
    padding: 14px !important;
}

    .table.project-table .project-detail td:last-child {
        color: black;
        font-weight: 600;
    }

.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown {
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.iconClassExcel {
    float: right;
    background: #933737 !important;
    margin-top: 0px;
    margin-right: 15px;
}

    .iconClassExcel:hover {
        background: #a54141;
    }


.ms-drop {
    overflow: hidden;
    display: none;
    width: 240.08px !important;
    margin-top: -1px;
    padding: 10px !important;
    position: absolute;
    z-index: 1000;
    font-weight: normal !important;
    top: 100%;
    background: #fff;
    color: #758496 !important;
    font-size: 14px !important;
    border: 1px solid #d9dee3 !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 5px !important;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.ms-choice {
    display: block;
    height: 39px !important;
    padding: 0;
    width: 239px !important;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #d9dee3 !important;
    text-align: left;
    white-space: nowrap;
    line-height: 36px !important;
    color: #758496 !important;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 6px !important;
    background-color: #fff;
}

.won, .loss {
    padding: 3px 6px;
    width: max-content;
    border-radius: 5px;
}

.loss {
    background: #e85e5e4d;
    color: #de0000;
}

.won {
    color: darkgreen;
    background: #50ed504d;
}
.b-blue {
    border-top: 1px solid #1ac2f7
}

.b-lightblue {
    border-top: 1px solid #87cce9
}

.b-red {
    border-top: 1px solid #ed1b26
}

.b-green {
    border-top: 1px solid #43d1b7
}

.b-purple {
    border-top: 1px solid #a24ad8
}

.b-pink {
    border-top: 1px solid #f99ad3
}

.ovsmgr {
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 80%;
    font-size: 13px;
    margin: 16px 10px;
    padding: 5px 4px;
}

.ovsmgr img {
    margin-bottom: 3px;
    width: 20px;
}

.ovsmgr span {
    color: black;
    margin-top: 10px;
    font-weight: 500;
}