


.bg-label-success {
	background-color: #2196f3 !important;
	color: #ffff !important;
}

.bg-label-secondary {
	background-color: #37383a !important;
	color: #ffff !important;
}
/*Approved*/
.bg-label-info {
	background-color: #009900 !important;
	color: #ffff !important;
}

.bg-label-primary {
	background-color: #696cff !important;
	color: #ffff !important;
}

.bg-label-warning {
	background-color: #c98d0e !important;
	color: #ffff !important;
}

.demo-inline-spacing > * {
	margin-top: 0rem !important;
	margin-right: 1.5rem !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
}

.kpi-year-table tr:hover {
	background-color: #23547c3b;
	cursor: pointer;
}

.btn-mykpi {
	color: #fff;
	background-color: #009688;
}

	.btn-mykpi:hover {
		color: #fff;
		background-color: #248364;
		transform: translateY(5px);
	}

.btn-primary {
	color: #fff;
	background-color: #e14b4b;
	border-color: #e14b4b;
	box-shadow: 0 0.125rem 0.25rem 0 rgb(122 46 72 / 53%);
}

btn-primary:hover {
	background-color: #e14b4b !important;
	border-color: #e14b4b !important;
}

.btn-submit {
	color: #fff;
	background-color: #2196f3;
}


	.btn-submit:hover {
		color: #fff;
		background-color: red;
		transform: translateY(5px);
	}

.btn-review {
	color: #fff;
	background-color: #248364;
}

.btn-submit:hover {
	color: #fff;
	background-color: green;
	transform: translateY(5px);
}

.btn-comments {
	color: #fff;
	background-color: #564d4d;
	border-color: #8592a3;
}

	.btn-comments:hover {
		color: #fff;
		background-color: red;
		transform: translateY(5px);
	}


.btn-trrequest {
	color: #fff;
	background-color: #1899d4;
	border-color: #1899d4;
}


	.btn-trrequest:hover {
		color: #fff;
		background-color: green;
		transform: translateY(5px);
	}

.btn-confiential {
	color: #fff;
	background-color: #9f2016;
	border-color: #9f2016;
}


.btn-trrequest:hover {
	color: #fff;
	background-color: #1899d4;
	transform: translateY(5px);
}


/*.table-striped > tbody > tr:nth-of-type(odd) > * {
	--bs-table-accent-bg: #23547c14;
	color: var(--bs-table-striped-color);
}
*/


.rounded-pill {
	border-radius: 50rem !important;
}

.mdlbody-heng {
	background: #76404c;
	height: 36px;
}

.alignleft {
	float: left;
	color: white;
	margin-bottom: 5px;
	margin-top: 7px;
	margin-left: 10px;
}

.alignright {
	float: right;
	color: white;
	margin-bottom: 5px;
	margin-top: 7px;
	margin-right: 10px;
}

.metrix {
	width: 50%;
	border-collapse: collapse !important;
}

.btn-submit {
	color: #fff;
	background-color: #23547c;
	border-color: #23547c;
	box-shadow: 0 0.125rem 0.25rem 0 rgb(105 108 255 / 40%);
}

.btn-approve {
	color: #fff;
	background-color: #009900;
	border-color: #009900;
	box-shadow: 0 0.125rem 0.25rem 0 rgb(105 108 255 / 40%);
}

.btn-save {
	color: #fff;
	background-color: #8b0000;
	border-color: #8b0000;
	box-shadow: 0 0.125rem 0.25rem 0 rgb(105 108 255 / 40%);
}

.btn-close {
	color: #fff;
	background-color: #7b8187;
	border-color: #7b8187;
	box-shadow: 0 0.125rem 0.25rem 0 rgb(105 108 255 / 40%);
}

.btn-secondary {
	color: #fff;
	background-color: #8592a3;
	border-color: #8592a3;
	box-shadow: 0 0.125rem 0.25rem 0 rgb(133 146 163 / 40%);
}

.btn-reqtraining {
	color: #fff;
	background-color: #007cdf;
	border-color: #007cdf;
	box-shadow: 0 0.125rem 0.25rem 0 rgb(105 108 255 / 40%);
}

.btn-add-training {
	display: flex;
	flex-wrap: wrap;
	flex-shrink: 0;
	align-items: center;
	justify-content: flex-end;
	/*padding: 1.25rem;*/
	padding-top: 10px;
	border-top: 0px solid #d9dee3;
	border-bottom-right-radius: calc(0.5rem - 0px);
	border-bottom-left-radius: calc(0.5rem - 0px);
}

.conf-heding {
	color: red;
	padding-top: 20px;
	text-align: center;
}

.field-heddng {
	font-size: 15px;
	font-weight: bold;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
	--bs-table-accent-bg: #eef2f5;
	color: #1161bb;
}




.overClass {
	overflow-y: auto;
	height: 54%;
}

.nav-tabs .nav-item .nav-link:not(.active) {
	background-color: #575e63;
	/*background-color: #8b0000;*/
}
/*kpi tab color*/
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: #697a8d;
	/*background-color: #e14b4b;*/
	/*background-color: #8b0000 !important;*/
	/*background-color: #ce512b !important;*/
	border-color: #fff;
}

.nav-tabs .nav-item .nav-link {
	color: #fff;
	border: 0;
	border-radius: 0;
}

.nav-align-top .nav-tabs:not(.nav-fill) ~ .tab-content {
	border-top-right-radius: 0.375rem;
	background-color: #bec4c91c;
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: x-large;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.accordion-button {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0.79rem 1.125rem;
	/*font-size: 0.9375rem;*/
	color: #566a7f;
	text-align: left;
	background-color: #0101012b;
	border: 0;
	border-radius: 0;
	overflow-anchor: none;
	transition: all 0.2s ease-in-out, border-radius 0.15s ease;
	font-size: small !important;
	height: 41px;
}

	.accordion-button:not(.collapsed) {
		color: #566a7f;
		background-color: #0101012b;
		box-shadow: inset 0 0 0 #d9dee3;
	}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: #fff !important;
	background-color: #e14b4b;
	border-color: #fff;
}

nav-tabs .nav-item .nav-link:hover {
	color: white !important;
	background-color: #e14b4b !important;
}

.nav-tabs .nav-item .nav-link:hover, .nav-tabs .nav-item .nav-link:focus {
	color: white !important;
	/*background-color: #8b0000 !important;*/
	/*background-color: #ce512b !important;*/
	background-color: #e14b4b !important;
}

.accordion-button:not(.collapsed) {
	color: #ffffff;
	background-color: #575e63;
	box-shadow: inset 0 0 0 #d9dee3;
}

.card {
	box-shadow: 1px 1px 14px #fff2f2;
}

.cardfilter {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0 solid #d9dee3;
	border-radius: 0.5rem;
	width: 97%;
	margin-left: 28px;
	margin-top: 15px;
}

.tblfilter {
	background-color: white;
	width: 97%;
	margin-left: 28px;
	margin-top: 14px;
	border-radius: 7px;
	margin-bottom: 0px;
}

.rounded {
	border-radius: 0.375rem !important;
	width: 10%;
}

.listoprty {
	font-weight: bold;
	font-size: xx-large;
	color: blueviolet;
}

::-webkit-scrollbar {
	width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}

.colwidthfirst {
	width: 10.333333%
}


.rowfisthding {
	padding-top: 10px;
}

.rowfirstchrt {
	padding-bottom: 10px;
}

.tooltipbtn {
	border: none;
	border-radius: 20%;
	height: 22px;
	width: 25px;
	float: right;
	/*margin-left: 76%;*/
}
/*.perfoSuccess{
           color: #12C05D;
           font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .perfoWarning{
           color:  #F6BE00;
           font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .perfoDanger{
            color: #a92828;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }*/


.fw-kpiname {
	font-weight: 200 !important;
	font-size: 13px;
}

.hidden {
	display: none;
}

.icontransform:hover {
	transform: scale(1.5) !important;
	transition: .3s;
	/* background-color: #b31c27; */
}

.table:not(.table-dark) th {
	color: #ffffff;
}