body {
}

.custom-loader-for-copy {
    text-align: center;
    top: 40%;
    left: 44%;
    position: fixed;
    z-index: 99999999;
    box-shadow: 0px 1px 7px #e14b4b;
    border-radius: 3px;
    background: white;
    width: 10%;
    /*padding: 10px;*/
}

.btn-label-secondary:hover {
    color: #ff5500; /*#0078ff blue*/
}

.btn {
    /*display: inline-block;
    font-weight: 400;
    line-height: 1.53;
    color: #697a8d;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;*/
    padding: 0.3375rem 0.9rem !important;
    /*font-size: 0.9375rem;
    border-radius: 0.375rem;
    transition: all 0.2s ease-in-out;*/
}

.rrf-history-draft {
    padding: 2px 6px 2px 5px;
    border: 1px solid #03c3ec;
    color: #03c3ec;
    border-radius: 4px;
}
.rrf-history-approved {
    padding: 2px 6px 2px 5px;
    border: 1px solid #52c812;
    color: #4cc30d;
    border-radius: 4px;
}
.rrf-history-rejected {
    padding: 2px 6px 2px 5px;
    border: 1px solid #ff3e1d;
    color: #ff3e1d;
    border-radius: 4px;
}
.rrf-history-shlist {
  
    padding: 2px 6px 2px 5px;
    border: 1px solid #03c3ec;
    color: #03c3ec;
    border-radius: 4px;
}
.rrf-history-inreview {
    padding: 2px 6px 2px 5px;
    border: 1px solid #1d82ff;
    color: #1d82ff;
    border-radius: 4px;
}
.rrf-history-inv {
    padding: 2px 6px 2px 5px;
    border: 1px solid #11c8aa;
    color: #11c8aa;
    border-radius: 4px;
}





.rrf-status-pending {
    /*yellow*/
    background-color: #fff2d6 !important;
    color: #ffab00 !important;
    letter-spacing: 0.5px;
    box-shadow: 0px 0px 3px 0px #ffab00;
    /*purple*/
    /*background-color: #787bff36 !important;
    color: #676aeb !important;
    box-shadow: 0px 0px 3px 0px #676aeb;*/
}

.rrf-status-draft {
    /*yellow*/
    background-color: #d7f5fc !important;
    color: #03c3ec !important;
    letter-spacing: 1px;
    box-shadow: 0px 0px 3px 0px #03c3ec;

}

.rrf-status-approve {
    background-color: #e8fadf !important;
    color: #48a516 !important;
    letter-spacing: 0.5px;
    box-shadow: 0px 0px 3px 0px #48a516;
}

.rrf-status-reject {
    background-color: #ffe0db !important;
    color: #ff3e1d !important;
    letter-spacing: 0.5px;
    box-shadow: 0px 0px 3px 0px #ff3e1d;
}

.task-status-started {
    /*background:#fbc11e;  
       padding-left: 11px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 6px;
    color:white;
    box-shadow: 0px 0px 3px 0.5px #fbc11e;
    display: inline-block;
    min-width: 107px;*/
    /*yellow*/
    background-color: #d7f5fc !important;
    color: #03c3ec !important;
    letter-spacing: 1px;
    box-shadow: 0px 0px 3px 0px #03c3ec;
}

.task-status-open {
    /*background: #07aeea;*/
    background: #a7bcee;
    padding-left: 11px;
    padding-right: 12px;
    padding-top: 1px;
    padding-bottom: 4px;
    border-radius: 6px;
    color: white;
}

.task-status-active {
    /*background: #0b9adcbf;
        padding-left: 11px;
    padding-right: 12px;
    padding-top: 1px;
    padding-bottom: 4px;
    border-radius: 6px;
    color:white;
    box-shadow: 0px 0px 4px 0.5px #0b9adcbf;*/
    background-color: #d7f5fc !important;
    color: #03c3ec !important;
    letter-spacing: 1px;
    box-shadow: 0px 0px 3px 0px #03c3ec;
}

.task-status-completed {
    /*background: #98ca3c;
    padding-left: 11px;
    padding-right: 12px;
    padding-top: 1px;
    padding-bottom: 4px;
    border-radius: 6px; 
    color:white;
    box-shadow: 0px 0px 4px 1px #98ca3c;*/
    background-color: #e8fadf !important;
    color: #48a516 !important;
    letter-spacing: 0.5px;
    box-shadow: 0px 0px 3px 0px #48a516;
}

.task-status-cancelled {
    /*background: #f56b61;
        padding-left: 11px;
    padding-right: 12px;
    padding-top: 1px;
    padding-bottom: 4px;
    border-radius: 6px;
    color:white;
        box-shadow: 0px 0px 3px 0.5px #f56b61;*/
    background-color: #ffe0db !important;
    color: #ff3e1d !important;
    letter-spacing: 0.5px;
    box-shadow: 0px 0px 3px 0px #ff3e1d;
}

.task-status-rejected {
    /*background: #f56b61;
        padding-left: 11px;
    padding-right: 12px;
    padding-top: 1px;
    padding-bottom: 4px;
    border-radius: 6px;
    color:white;
        box-shadow: 0px 0px 3px 0.5px #f56b61;*/
    background-color: #ffe0db !important;
    color: #ff3e1d !important;
    letter-spacing: 0.5px;
    box-shadow: 0px 0px 3px 0px #ff3e1d;
}

.task-status-requested {
    background-color: #fff2d6 !important;
    color: #ffab00 !important;
    letter-spacing: 0.5px;
    box-shadow: 0px 0px 3px 0px #ffab00;
}

.task-status-assigned {
    background-color: #0de4ce29 !important;
    color: #069f90 !important;
    letter-spacing: 1px;
    box-shadow: 0px 0px 3px 0px #08a6ab99;
}

.badge-for-taskcode {
    letter-spacing: 0px;
    background-color: #787bff36 !important;
    color: #676aeb !important;
    box-shadow: 0px 0px 3px 0px #676aeb;
    height: 19px;
    font-size: 12px;
    /* margin-top: -24px; */
    /*position: absolute;
    top: 184px;
    left: auto;*/
}
/*task priority classes*/
.task-priority-urgent {
    font-size: 11px;
    color: #e93737;
}

.task-priority-impo {
    font-size: 11px;
    color: Orange;
}

.task-priority-medium {
    font-size: 11px;
    color: #80b546;
}

.task-priority-low {
    font-size: 11px;
    color: #56b8e6;
}

.btn-cancel-custom {
    /*background: radial-gradient(#e52400, #bb5757);
    border-color: #dd4937;
    box-shadow: 0 0.125rem 0.25rem 0 #dd4937;
    color: white;*/
    background: radial-gradient(#d54832, #852727) !important;
    border-color: #d54832;
    color: #fff;
}

    .btn-cancel-custom:hover {
        color: white;
    }

.btn-success {
    background: radial-gradient(#61e31a, #54712f) !important;
    color: #fff;
    border-color: #41b106;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(113, 221, 55, 0.4);
}

.btn-primary {
    background: radial-gradient(#d54832, #852727) !important;
    border-color: #d54832;
    color: #fff;
}

.btn-label-secondary {
    background: radial-gradient(#ffffff, #dfdfdf) !important;
}



/*select 2 Modification*/



/*name content selection option*/
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 12px !important;
    padding-right: 5px;
    color: #ffffff !important;
}
/*end*/



/*Abdullah Work*/

.animated-button1 {
    background: repeating-linear-gradient(45deg, #652525, #d54832 100px);
    padding: 13px 40px;
    margin: 12px;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    overflow: hidden;
    color: #f7d4d4;
    font-size: 20px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 50px rgb(209 209 209 / 50%);
}

    .animated-button1::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #ad8585;
        opacity: 0;
        -webkit-transition: .2s opacity ease-in-out;
        transition: .2s opacity ease-in-out;
    }

    .animated-button1:hover::before {
        opacity: 0.2;
    }

    .animated-button1 span {
        position: absolute;
    }

        .animated-button1 span:nth-child(1) {
            top: 0px;
            left: 0px;
            width: 100%;
            height: 3px;
            background: -webkit-gradient(linear, right top, left top, from(#356303), to(#efc7c7));
            background: linear-gradient(to left, #ff0000, #ff0000);
            -webkit-animation: 2s animateTop linear infinite;
            animation: 2s animateTop linear infinite;
        }

    .animated-button1:hover span:nth-child(1) {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 3px;
        background: -webkit-gradient(linear, right top, left top, from(#356303), to(#efc7c7));
        background: linear-gradient(to left, #8add00, #8add00);
        -webkit-animation: 2s animateTop linear infinite;
        animation: 2s animateTop linear infinite;
    }

@keyframes animateTop {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.animated-button1 span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 3px;
    background: -webkit-gradient(linear, left bottom, left top, from(#356303), to(#efc7c7));
    background: linear-gradient(to top, #ff0000, #ff0000);
    -webkit-animation: 2s animateRight linear -1s infinite;
    animation: 2s animateRight linear -1s infinite;
}

.animated-button1:hover span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 3px;
    background: -webkit-gradient(linear, left bottom, left top, from(#356303), to(#efc7c7));
    background: linear-gradient(to top, #8add00, #8add00);
    -webkit-animation: 2s animateRight linear -1s infinite;
    animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.animated-button1 span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(#356303), to(#efc7c7));
    background: linear-gradient(to right, #ff0000, #ff0000);
    -webkit-animation: 2s animateBottom linear infinite;
    animation: 2s animateBottom linear infinite;
}

.animated-button1:hover span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(#356303), to(#efc7c7));
    background: linear-gradient(to right, #8add00, #8add00);
    -webkit-animation: 2s animateBottom linear infinite;
    animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.animated-button1 span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#356303), to(#efc7c7));
    background: linear-gradient(to bottom, #ff0000, #ff0000);
    -webkit-animation: 2s animateLeft linear -1s infinite;
    animation: 2s animateLeft linear -1s infinite;
}

.animated-button1:hover span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#356303), to(#efc7c7));
    background: linear-gradient(to bottom, #8add00, #8add00);
    -webkit-animation: 2s animateLeft linear -1s infinite;
    animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

/*End here*/



/*abdullah css work*/
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #ffffff;
    background-color: #cb1d02;
    border-color: #fff;
}

.nav-tabs .nav-item .nav-link.active {
    color: #ff6c00;
    background-color: #fdfdfd;
    border-color: #fff;
    BORDER-BOTTOM: SOLID;
}

.nav-tabs .nav-item .nav-link:hover {
    color: #ff6c00;
    background-color: #fdfdfd;
    border-color: #fff;
    BORDER-BOTTOM: SOLID;
}

.nav-tabs .nav-item .nav-link:not(.active) {
    color: #5c5c5c;
    background-color: #b4b9bf;
    /*color: #b12626;*/
    background-color: #fdfdfd;
    border-color: #fff;
    /* BORDER-BOTTOM: SOLID;*/
}




.kpi-user-History-table td {
    color: #333333 !important;
}

.overClass {
    overflow-y: auto;
    height: 54%;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.overFlowNavKpi {
    overflow-y: auto;
    height: 565px;
}

.accordion li {
    font-size: small;
}

.form-check-input:checked, .form-check-input[type=checkbox]:indeterminate {
    background-color: #e14b4b;
    border-color: #e14b4b;
    box-shadow: 0 2px 4px 0 rgb(105 108 255 / 40%);
}
/*Custom Menu Anwar*/
.container {
    border-radius: 3px;
    padding: 5px;
    /*width: 60%;*/
    margin: 0 auto;
}

h2 {
    font-weight: normal;
    font-size: 25px;
}

    h2:hover {
        cursor: pointer;
    }

.modal-dialog-centered {
    min-height: calc(100% - 22.5rem);
}

.modal-header {
    /*display: -webkit-box;
    display: -ms-flexbox;*/
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    /*align-items: flex-start;*/
    -webkit-box-pack: justify;
    /*-ms-flex-pack: justify;*/
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #98a2af !important;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}


#DataTables_Table_0_paginate .current {
    color: white !important;
    background: #a92828 !important;
}

.table td {
    color: #333333 !important;
}

.custom-loader {
    text-align: center;
    top: 40%;
    left: 44%;
    position: fixed;
    z-index: 99999999;
    box-shadow: 2px 2px 17px #e14b4b;
    border-radius: 20px;
    background: white;
    width: 10%;
    padding: 10px;
}

.loader-bg-blur {
    height: 100%;
    z-index: 9999999;
    position: fixed;
    background: #c3d3ce6b;
    width: 100%;
}

.hidden {
    display: none !important;
}

.iconClassExcel {
    margin-left: 8px;
    background: #933737;
}

.iconClassPdf {
    background: #933737;
}

.iconClassExcel:hover {
    background: #a54141;
}

.iconClassPdf:hover {
    background: #a54141;
}

.tablepopup th {
    text-align: center;
    color: white !important;
    background-color: #d54832;
}

.tablepopup td {
    border-bottom: 1px solid #96a2ab45 !important;
}

.tablepopup {
    width: 100%;
}

.modal-xl {
    max-width: 1400px !important;
}

.hidden {
    display: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #bb1414;
    border-color: #bb1414;
    transform: translateY(-1px);
}


.label-custom {
    color: #d4432c !important;
    font-weight: 200 !important;
    text-transform: capitalize;
    /* padding-top: 3px; */
}


/*For New Form */
.form-control {
    display: block;
    width: 100%;
    padding: 0.4375rem 0.875rem;
    font-size: 12px;
    font-weight: 200;
    line-height: 1.25;
    color: #697a8d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d9dee3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.4375rem 1.875rem 0.4375rem 0.875rem;
    -moz-padding-start: calc(0.875rem - 3px);
    font-size: 0.7375rem;
    font-weight: 150;
    line-height: 15px;
    color: #697a8d;
    background-color: #fff;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%2867, 89, 113, 0.6%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right 0.875rem center;
    background-size: 17px 12px;
    border: 1px solid #d9dee3;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea.form-control {
    min-height: calc(1.53em + 0.875rem + 2px);
    padding-top: 14px;
    padding-bottom: 14px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #ffffffed;
    background-clip: padding-box;
    border: 0px solid rgba(67, 89, 113, 0.2);
    border-radius: 0.5rem;
    outline: 0;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 0px solid #364150;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.btn-close-down {
    color: #fff;
    background-color: #7a7878;
    border-color: #7a7878;
}


element.style {
    padding-top: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-top: 5px !important;
}

.tbody-OPPDetails .History:hover {
    content: url("images/gif-book-line.gif");
}

.tbody-OPPDetails .viewmore:hover {
    content: url("images/gif-add-line.gif");
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus {
    background-color: #b92c2c;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(68 0 0 / 40%);
}

.drp-height {
    line-height: 1.25 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 12px !important;
    padding-right: 5px;
    color: #e02d0a;
}


.LostOPT-Responsibility-Details .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.LostOPT-Responsibility-Details th {
    text-align: center;
    color: white !important;
    border: none;
}

.LostOPT-Responsibility-Details td {
    border-bottom: 1px solid #96a2ab45 !important;
}

.btn-verify {
    background-color: #0ecb0b !important;
    border-color: #8fcb2e !important;
}

.InterviewInfo-Details-table th {
    text-align: center;
    color: white !important;
    border: none;
}

.InterviewInfo-Details-table td {
    border-bottom: 1px solid #96a2ab45 !important;
}

.InterviewInfo-Details-table .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}


fieldset {
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border: none;
}

legend {
    font-size: 28px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #abaaaa;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #ededed;
    position: relative;
    top: 6px;
}

    input[type="radio"]:checked::before {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        background-color: #66d779;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: appear 0.8s;
    }

@keyframes appear {
    0% {
        transform: translate(-50%, -50%) scale(0);
        background-color: #fff;
    }

    45% {
        transform: translate(-50%, -50%) scale(1.6);
        background-color: #7bff79;
    }

    50% {
        transform: translate(-50%, -50%) scale(1.7);
        background-color: #3aff37;
    }

    55% {
        transform: translate(-50%, -50%) scale(1.6);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        background-color: #66d779;
    }
}

.RRF-Requests-details .Head-tr {
    background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
}
/*  .Item-table-details .Head-tr{
             background: repeating-linear-gradient( 180deg, #bf1010, #000000 100px) !important;
        }*/
.RRF-Requests-details th {
    text-align: center;
    color: white !important;
    border: none;
}

.RRF-Requests-details td {
    border-bottom: 1px solid #96a2ab45 !important;
}

/*end here*/


/*Farwa css*/

.Opt-det-drilldown {
        color: #ffffff;
        width: 40px;
        cursor: pointer;
        height: 40px;
        border-radius: 50%;
        font-size: 25px;
        position: inherit;
        background: #dd5959ed;
        text-align: center;
        padding-top: 6px;
    }

        .Opt-det-drillup, .Opt-det-drilldown:hover {
            background-color: #d43015db;
        }


#OptDetailsRowDiv {
    padding: 16px 20px 20px 30px;
    border: 1px solid #a19f9f6b;
    box-shadow: -3px 5px 13px -8px #5c5c5cc2;
    margin-bottom: 20px;
}

    #OptDetailsRowDiv .label-custom {
        color: #af1800 !important;
    }

.label-custom {
    color: #d4432c !important;
    font-weight: 500 !important;
    text-transform: capitalize;
}
